.container {
  margin-top: 20px;
}

#lg-margin-top {
  margin-top: 40px;
}

.rating-form-header {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.table {
  margin-top: 30px;
}

.sm-margin-top {
  margin-top: 20px;
}

.red {
  color: red;
}

.opinion-text {
  padding-left: 100px;
  padding-top: 15px;
  color: #007bff;
}

.updated-time-text {
  color: grey;
  margin-left: 8px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.error-text {
  color: red;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
}

.green {
  color: green;
  font-weight: 600;
}

.rating-text {
  font-weight: 800;
}

.member-text {
  font-weight: 600;
}

.delete-text {
  color: red;
}
