.container {
  margin-top: 20px;
}

#lg-margin-top {
  margin-top: 40px;
}

.rating-form-header {
  font-size: 24px;
}

.text-center {
  text-align: center;
}

.table {
  margin-top: 30px;
}

.sm-margin-top {
  margin-top: 20px;
}

.red {
  color: red;
}

.opinion-text {
  padding-left: 100px;
  padding-top: 15px;
  color: #007bff;
}

.list-group-item > span {
  color: grey;
  margin-left: 8px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
