<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <title>Dashboard</title>
  </head>
  <body>
  {% include "partials/navbar.html" %}
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
        <h3>Your ratings:</h3>
        <ul class="list-group sm-margin-top">
          {% for i in user.ratings.all %}
            <li>{{i.id}}</li>
            <li class="list-group-item">
              You rated {{ i.member.first_name }} {{ i.member.last_name }}: {{ i.rating }}
              <span class="updated-time-text">{{ i.updated_at }} yoo {{ i.id }} <a href="/edit-rating-opinion/{{ i.id }}">Edit</a></span>
              <span><a class="delete-text" href="/rating/delete/{{ i.member.cid }}">Delete</a></span>
            </li>
            {% for j in all_opinions %}
              {% if j.member.cid == i.member.cid %}
                <p class="opinion-text">Your opinion: {{ j.text }}</p>
              {% endif %}
            {% endfor %}
          {% endfor %}        
        </ul>
      </div>
    </div>
    <div class="row" style="margin-top: 80px;">
      <div class="col-12">
        {% if messages %}
          {% for msg in messages %}
            <p class="error-text">{{ msg }}</p>
          {% endfor %}
        {% endif %}
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">cid</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">State</th>
              <th scope="col">Party</th>
              <th scope="col">Chamber</th>
              <th scope="col">Contributions</th>
              <th scope="col">First Elected</th>
              <th scope="col">Rate/Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for member in all_members %}
            <tr>
              <th scope="row">{{ member.cid }}</th>
              <td>{{ member.first_name }}</td>
              <td>{{ member.last_name }}</td>
              <td>{{ member.state }}</td>
              <td>{{ member.party }}</td>
              <td>{{ member.chamber }}</td>
              {% load humanize %}
              <td>${{ member.total_contributions|intcomma }}</td>
              <td>{{ member.first_elected }}</td>
              <td>
                <a href="/rate-comment/{{member.cid}}"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-arrow-right-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                    /></svg
                ></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>
</html>
