<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  </head>
  <body>
    {% include "partials/navbar.html" %}
    
    <div class="container">
      <div class="row">
        <div class="col-md-6">
        <h1>Login</h1>
          {% if messages %} {% for msg in messages %}
          <h3>{{ msg }}</h3>
          {% endfor %} {% endif %}
          <form action="login" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" name="email" class="form-control" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" name="password" class="form-control" />
            </div>
            <button class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
